<form class = "layout-row layout-align-center" action="https://404notfound.tech:8080/login" method="POST">
  <div class = "layout layout-sm-column">
    <input name="username" placeholder="username"  />
    {{!paper-input flex=30 label = "Username" value = username onChange=(action (mut username))}}
  </div>
  <div>
    <input name="password" placeholder="password" />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
  <div>
    {{if unathourized "Login failed" ""}}
  </div>
</form>
